.message {
    color: red;
}

.user_list {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.user_list_ttl {
    font-size: 20px;
    font-weight: bold;
}

.list {
    text-align: left;
    margin-left: 10%;
    font-weight: bold;
}

.list_mail {
    color: #000;
    text-decoration: none;
}

.list_delete {
    color: red;
    text-decoration: none;
    margin-left: 40px;
}

.list_category {
    color: #000;
    text-decoration: none;
    margin-left: 40px;
}

.user_list_table {
    margin: 0 auto;
    text-align: center;
}

.list_row_wrp {
    border-top: 1px solid #000;
}

.list_row {
    width: 30vw;
    padding: 20px 0;
}

.delete__btn__submit {
    background-color: #ff5656;
    color: #fff;
    border: #ff5656;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer
}

@media screen and (max-width: 767px) {

    .list {
        text-align: left;
        margin-left: 3%;
        font-weight: bold;
    }

    .list_delete {
        color: red;
        text-decoration: none;
        margin-left: 5px;
    }

    .list_category {
        color: #000;
        text-decoration: none;
        margin-left: 5px;
    }
}